<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://10.7.99.191:80/ReportService</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://10.7.99.191:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/ReportService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>0007PFRRU/007KorinaVS</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Telerik.Reporting.Examples.CSharp.Properties.Settings.TelerikConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SW00700008011\SQLEXPRESS;Initial Catalog=ReportsExample;User ID=sed_do_admin;Password=1qazxsw2" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Telerik.Reporting.Examples.CSharp.Properties.Settings.TelerikConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SW00700008011\SQLEXPRESS;Initial Catalog=ReportsExample;user id=sed_do_admin;password=1qazxsw2;MultipleActiveResultSets=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="URISTTEST" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SW00700008011\SQLEXPRESS;Initial Catalog=URIST_TEST;User ID=sed_do_admin;Password=1qazxsw2" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\URISTTEST_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SW00700008011\SQLEXPRESS;Initial Catalog=URIST_TEST;user id=sed_do_admin;password=1qazxsw2;MultipleActiveResultSets=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Telerik.Reporting.Examples.CSharp.Properties.Settings.TelerikConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)URISTTEST-Web.config Connection String" />
  </ItemGroup>
</Project>